ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.button1{
  background-color: #2339d7 !important;
}


.button2{  
  background-color: #75c36d;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#p1 
  {
    background-color:#EEEEEE;
    padding: 41px
  }
  *{
  box-sizing: border-box;
  }
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
  
.row:after {
  content: "";
  display: table;
  clear: both;
}